*{
    margin:0;
    padding: 0;
}

html, body{
    height: 100%;
}
header {
    display: flex;
    background-color: rgb(0, 0, 0);
    border-bottom:1px solid black ;
    width: 100%;
    align-items: center;
    height: 12%;
}

div#status{
    display: flex;
}

h1{
    margin: 3%;
    color: white;
    text-shadow: black 1px 1px 2px;
}

div#buttons {
    margin-left: 90%;
    position: fixed;
    z-index: 1;
    display: none;
}
div#buttons button{
    border: 1% solid black;
    background-color: white;
    font-size: 100%;
    margin: 5%;
    outline: none;
    width: 90%;
}


div#game{
    width: 90%;
    height: 75%;
    border: 1px solid black;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    padding-right: 0;
    background-color: white;
}

button#btnPlay{
    width: 99%;   
    height: 101%;
    font-size: 300%;
    border: none;
    background-color: white;

}

div.teste{
    width: 5%;
    height: 10%;
    margin: 1%;
    float: left;
}


section#modal{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

div#bgModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    pointer-events: all;
    position: absolute;
    z-index: 3;
}

div#contentModal {
    position: absolute;
    width: 50%;
    height: 90%;
    background-color: white;
    top: 5%;
    left: 25%;
    border: 2px solid black;
    z-index: 4;
    overflow: scroll;
}

button#buttonClose {
    position:absolute;
    width: 5%;
    height: 5%;
    left: 93%;
    top:2%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 20px;
}

button#buttonClose:hover{
    font-size: 25px;
}
section.content h3,h2{
    text-align: center;
    margin: 1%;
}

section.content p{
    margin: 3%;
    margin-top: 0%;
    text-align: center;
}  

div#modalPtsDiv,div#modalTimerDiv{
    margin-top: 10%;
    font-size: 150%;
    align-items: center;
    height: 30%;
    justify-content: center;
}

div#modalTimerDiv{
    margin: 7%;
    margin-bottom: 0%;
}

button#buttonModal{
    width: 30%;
    height: 10%;
    font-size: 150%;
    border: 1px solid black;
    outline: none;
    margin-left: 35%;
    background-color:white;
}

h2#tituloModal{
    font-size: 200%;
}

button#buttonRanking{
    outline: none;
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: 10%;
    font-size: 120%;
    margin-top: 1%;
    position: absolute;
    right: 25%;
}

table{
    border: 1px solid black;
    width: 100%;
    margin: auto;
}
tr.indice{
    background-color: rgb(247, 34, 34);
}
td{
    font-size: 200%;
    margin-left: 30%;
    text-align: center;
    background-color: rgb(248, 29, 29);
    padding: 5%;
}
td.esq{
    font-size: 200%;
    text-align: center;
    margin-left: 0;
    padding-right: 10%;
}

h2#tr{
    margin: 4%;
    font-size:  400%;
}

a.close{
    text-decoration: none;
    color: black;
    font-size: 200%;
    float: right;
    position: absolute;
    top: 3%;
    left: 92%;
    z-index: 1;
}